@import 'tailwindcss';

@theme {
	--font-sans:
		'Outfit', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
	html,
	body {
		@apply bg-slate-950;
	}
}
